### Предсказать параметр medv из заданного датасета

In [24]:
import pandas as pd
df = pd.read_table('https://people.sc.fsu.edu/~jburkardt/datasets/boston_housing/boston_housing.txt', 
                    sep='[ ]{1,}', #один или более пробелов подряд
                    header = None,
                    names=["crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat", "medv"],
                    engine='python')
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [26]:
#проверяем на пропуски
df.isna().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
random_state=69

In [33]:
#разделяем данные для обучения и прогнозирования
x_train, x_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=random_state)

In [34]:
print(x_train.shape)
print(x_test.shape)

(354, 13)
(152, 13)

In [35]:
%%time
#обучаем модель по 70% данных (линейная регрессия)
medv_train_model = LinearRegression()
medv_train_model.fit(x_train, y_train)

CPU times: total: 0 ns
Wall time: 1.97 ms

LinearRegression()

In [37]:
#по обученной модели делаем предсказания по тестовой выборке
pred = medv_train_model.predict(x_test)

In [39]:
compare_predictions_table = x_test.copy()
compare_predictions_table['origin_medv'] = y_test
compare_predictions_table['pred_medv'] = pred
compare_predictions_table

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,origin_medv,pred_medv
96,0.12204,0.0,2.89,0,0.445,6.625,57.8,3.4952,2,276.0,18.0,357.98,6.65,28.4,28.430523
58,0.01432,100.0,1.32,0,0.411,6.816,40.5,8.3248,5,256.0,15.1,392.90,3.95,31.6,33.398159
453,5.09017,0.0,18.10,0,0.713,6.297,91.8,2.3682,24,666.0,20.2,385.09,17.27,16.1,19.278184
202,0.03445,82.5,2.03,0,0.415,6.162,38.4,6.2700,2,348.0,14.7,393.77,7.43,24.1,29.294411
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,29.738654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,0.06617,0.0,3.24,0,0.460,5.868,25.8,5.2146,4,430.0,16.9,382.44,9.97,19.3,20.682898
382,15.87440,0.0,18.10,0,0.671,6.545,99.1,1.5192,24,666.0,20.2,396.90,21.08,10.9,18.817206
164,1.51902,0.0,19.58,1,0.605,8.375,93.9,2.1620,5,403.0,14.7,388.45,3.32,50.0,42.639163
201,0.01778,95.0,1.47,0,0.403,7.135,13.9,7.6534,3,402.0,17.0,384.30,4.45,32.9,30.957834
163,1.83377,0.0,19.58,1,0.605,7.802,98.2,2.0407,5,403.0,14.7,389.61,1.92,50.0,41.355250

In [41]:
#сравним предсказанные и оригинальные значения "medv"
compare_predictions_table[['origin_medv', 'pred_medv']]

     origin_medv  pred_medv
96          28.4  28.430523
58          31.6  33.398159
453         16.1  19.278184
202         24.1  29.294411
1           24.0  29.738654
..           ...        ...
329         19.3  20.682898
382         10.9  18.817206
164         50.0  42.639163
201         32.9  30.957834
163         50.0  41.355250

[152 rows x 2 columns]

In [48]:
#оценим прогноз по среднеквадратической ошибке
from sklearn.metrics import mean_squared_error
import numpy as np
print(f'Среднеквадратическая ошибка (RMSE) c random_state = {random_state} по прогнозным значениям составляет {np.round(mean_squared_error(y_test, pred), decimals=2)}')

Среднеквадратическая ошибка (RMSE) c random_state = 69 по прогнозным значениям составляет 24.33

In [52]:
#испытаем метод 'Random Forest' для прогнозирования параметра 'medv'
from sklearn.ensemble import RandomForestRegressor
rf_medv_prediction_model = RandomForestRegressor()
rf_medv_prediction_model.fit(x_train, y_train)

RandomForestRegressor()

In [53]:
#прогноз по методу случайных деревьев
pred2 = rf_medv_prediction_model.predict(x_test)

In [55]:
compare_predictions_table['pred2_medv'] = pred2
compare_predictions_table[['origin_medv', 'pred2_medv']]

     origin_medv  pred2_medv
96          28.4      26.310
58          31.6      31.052
453         16.1      16.822
202         24.1      23.029
1           24.0      28.380
..           ...         ...
329         19.3      20.138
382         10.9      12.079
164         50.0      48.002
201         32.9      34.763
163         50.0      47.313

[152 rows x 2 columns]

In [56]:
print(f'Среднеквадратическая ошибка (RMSE) c random_state = {random_state} по прогнозным значениям составляет {np.round(mean_squared_error(y_test, pred2), decimals=2)}')

Среднеквадратическая ошибка (RMSE) c random_state = 69 по прогнозным значениям составляет 12.46

In [57]:
#дополнительно протестируем метод чрезвычайно рандомизированных деревьев
from sklearn.ensemble import ExtraTreesRegressor
etr_medv_prediction_model = ExtraTreesRegressor()
etr_medv_prediction_model.fit(x_train, y_train)

ExtraTreesRegressor()

In [58]:
#прогноз
pred3 = etr_medv_prediction_model.predict(x_test)
compare_predictions_table['pred3_medv'] = pred3
compare_predictions_table[['origin_medv', 'pred3_medv']]

     origin_medv  pred3_medv
96          28.4      27.055
58          31.6      30.816
453         16.1      16.918
202         24.1      23.179
1           24.0      28.437
..           ...         ...
329         19.3      20.767
382         10.9      12.583
164         50.0      48.239
201         32.9      34.478
163         50.0      48.092

[152 rows x 2 columns]

In [59]:
print(f'Среднеквадратическая ошибка (RMSE) c random_state = {random_state} по прогнозным значениям составляет {np.round(mean_squared_error(y_test, pred3), decimals=2)}')

Среднеквадратическая ошибка (RMSE) c random_state = 69 по прогнозным значениям составляет 12.44

### по итогу исследования выявлено, что при установленном параметре random_state более точно параметр medv предсказывают методы случайных деревьев и чрезвычайно рандомизированных деревьев